.App {
  text-align: center;
  margin-top: 0;
}

html {
  min-height: 100%;
  height: auto;
}

body {
  margin-top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 200, 100, 1) 35%,
    rgba(255, 239, 200, 1) 100%
  );
}

.calc {
  background-color: grey;
  width: 200px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.calc-box {
  padding: 30px;
}

.button-row {
  padding: 2px;
}

.numbers {
  display: inline-block;
  padding: 10px;
}

.operators {
  display: inline-block;
  padding: 10px;
}

.home-link {
  position: absolute;
  display: block;
  float: left;
  padding: 15px;
}

.restaurant {
  margin-top: 0;
  background: rgb(255, 200, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 200, 100, 1) 35%,
    rgba(255, 239, 200, 1) 100%
  );
}

.slideshow-image {
  width: 800px;
  height: 400px;
}

.slideshow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  bottom: 200px;
  background-color: white;
  opacity: 0.5;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.nav-link:link,
.nav-link:visited {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  background-color: #ffefc8;
}

.nav-link:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 12px 12px 0 rgba(0, 0, 0, 0.19);
}

.txt {
  word-wrap: break-word;
  width: 800px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.menu-item {
  text-align: left;
  margin: 20px;
  background-color: #ffefc8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 12px 12px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

.menu-img {
  display: inline;
  width: 150px;
  height: 100px;
  margin: 10px;
}

.item-amount {
  margin: 20px;
}

.to-cart {
  position: fixed;
  font-size: 50px;
  text-decoration: none;
  right: 20px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
}

.to-cart:hover,
.to-cart:hover + .num-circle {
  opacity: 0.5;
}

.num-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  right: 15px;
  top: 0px;
}

.menu-button {
  border-radius: 50%;
  border-width: 1px;
  margin: 2px;
}

.cart {
  position: fixed;
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.cipher-button {
  padding: 10px;
  margin: 10px;
  border: none;
}

.jump {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: white;
}

.todo-item,
.todo-p,
.todo-button,
.todo-box {
  margin-left: 50px;
  margin-right: 50px;
  display: inline-block;
  background-color: rgb(255, 189, 47);
}

.todo-item {
  display: block;
  padding: 10px;
  width: 500px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.todo-button {
  float: left;
  color: rgb(255, 88, 88);
  border-color: #ffefc8;
  background-color: #ffefc8;
  border-width: 1px;
  margin-left: 0;
  margin-top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 10%;
}

.todo-box {
  float: right;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: auto;
  width: 25px;
  height: 25px;
}

.todo-section,
.add-item {
  display: inline;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.todo-section {
  font-size: 50px;
}

.add-item {
  font-size: 30px;
}

.todo-section:hover,
.add-item:hover {
  color: rgba(0, 0, 0, 1);
}

.input-todo-section {
  vertical-align: text-bottom;
  height: 25px;
}

.input-add-item {
  vertical-align: text-bottom;
}

.todo-section-p{
  display: inline;
}

.todo-section-button{
  margin: 10px;
  border: none;
  display: inline;
  background: none;
  opacity: 0;
}

.todo-section-button:hover, .todo-section-p + .todo-section-button{
  color: red;
  opacity: 1;
}