.App {
  text-align: center;
  margin-top: 0;
}

html {
  min-height: 100%;
  height: auto;
}

body {
  margin-top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 200, 100, 1) 35%,
    rgba(255, 239, 200, 1) 100%
  );
}

.calc{
  background-color: grey;
  width: 200px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.calc-box{
  padding: 30px;
}

.button-row {
  padding: 2px;
}

.numbers {
  display: inline-block;
  padding: 10px;
}

.operators {
  display: inline-block;
  padding: 10px;
}

.home-link {
  position: absolute;
  display: block;
  float: left;
  padding: 15px;
}

.restaurant {
  margin-top: 0;
  background: rgb(255, 200, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 200, 0, 1) 0%,
    rgba(255, 200, 100, 1) 35%,
    rgba(255, 239, 200, 1) 100%
  );
}

.donutImg {
  width: 800px;
  height: 400px;
}

.slideshow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  bottom: 200px;
  background-color: white;
  opacity: 0.5;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.nav-link:link,
.nav-link:visited {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  background-color: #ffefc8;
}

.nav-link:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 12px 12px 0 rgba(0, 0, 0, 0.19);
}

.txt {
  word-wrap: break-word;
  width: 800px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.menu-item {
  text-align: left;
  margin: 20px;
  background-color: #ffefc8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 12px 12px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

.menu-img {
  display: inline;
  width: 100px;
  height: 100px;
}

.item-amount {
  margin: 20px;
}

.to-cart {
  position: fixed;
  font-size: 50px;
  text-decoration: none;
  right: 20px;
  top: 10px;
}

.num-circle {
  position:fixed;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  right:15px;
  top: 0px;
}

.menu-button{
  border-radius: 50%;
  border-width: 1px;
  margin: 2px;
}
